In [5]:
import pandas as pd 
import numpy as np

In [6]:
df_train=pd.read_csv("train_final.csv",index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
2,0,0,0,0,0,0,100,208,178,178,...,0,0,0,0,0,0,0,0,0,0
3,178,178,178,152,102,58,19,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,8,64,107,191,191,191,191,...,0,0,0,0,0,0,0,0,0,2

In [7]:
labels=df_train["784"]

In [8]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,100,208,178,178,...,0,0,0,0,0,0,0,0,0,0
3,178,178,178,152,102,58,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,8,64,107,191,191,191,191,...,0,0,0,0,0,0,0,0,0,0

In [22]:
np.random.seed(1212) 
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
#import keras 
from tensorflow.keras.models import Model 
from keras.layers import * 
from keras import optimizers 
from keras.layers import Input,Dense 
#from tensorflow.keras.model import Sequential 
from keras.layers import Dropout,Embedding 
from tensorflow.keras.layers import Flatten 
from keras.layers.convolutional import Conv2D 
from keras.layers.convolutional import MaxPooling2D 
from keras.utils import np_utils 
from keras_applications.imagenet_utils import _obtain_input_shape

In [23]:
labels=np.array(labels)

In [24]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

ValueError: invalid literal for int() with base 10: 'X'

In [25]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,100,208,178,178,...,0,0,0,0,0,0,0,0,0,0
3,178,178,178,152,102,58,19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,8,64,107,191,191,191,191,...,0,0,0,0,0,0,0,0,0,0

In [66]:
l=[]
for i in range(47372):
    l.append(np.array(df_train[i:i+1]).reshape(28,28))

ValueError: cannot reshape array of size 0 into shape (28,28)

In [27]:
np.random.seed(7)

In [50]:
model= keras.models.Sequential()
model.add(Conv2D(30,(5,5),_obtain_input_shape(28,28,1,-1,require_flatten = 'false'),activation='relu'))
model.add(Maxpooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation='relu'))
model.add(Maxpooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(flatten())
model.add(Dense(128,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(13,activation="softmax"))

TypeError: object of type 'int' has no len()

In [ ]:
model.compile(loss="categorical_cross_entropy",optimizer="adam",metrics=["accuracy"])

In [ ]:
model.fit(np.array(1),cat,shuffle=True, epochs=10)

In [ ]:
import cv2
img=cv2.imread("C:\Handwritten-Equation-Solver-master\1\1_172.jpg",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyALLWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    _,ctrs,_=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(rec[0]+r[2]+10) and r[1]<(rec[1]+r[3]+10) and res[1]<(rec[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print("bools",bool_rect)
    dump_rect=[]
    for i in range (0,len(cnt)):
        for j in range (0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if (area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump_rects",dump_rect)
    final_rects=[i for i in rects if i not in dump_rect]
    print("final_rects",final_rects)
    for r in final_rects:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y++h+10,x:x+w+10]
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

In [ ]:
s=""
for i in range(len(train_data)):
    train_data[i]=np.array(train_data[i])
    train_data[i]=train_data[i].reshape(1,28,28,1)
    result=model.predictclasses(train_data[i])
    if (result[0]==10):
        s=s+"-"
    if (result[0]==11):
        s=s+"+"
    if (result[0]==12):
        s=s+"x"
    if (result[0]==1):
        s=s+"1"
    if (result[0]==2):
        s=s+"2"
    if (result[0]==3):
        s=s+"3"
    if (result[0]==4):
        s=s+"4"
    if (result[0]==5):
        s=s+"5"
    if (result[0]==6):
        s=s+"6"
    if (result[0]==7):
        s=s+"7"
    if (result[0]==8):
        s=s+"8"
    if (result[0]==9):
        s=s+"9"
print(s)

In [46]:
import pandas as pd 
import numpy as np